.container {
  padding: 0 2rem;
  text-align: center;
  color: rgb(27, 114, 155);
}

.img {
  border-radius: 50%;
}

.s {
  margin-bottom: 100px;
}

.h {
  display: flex;
  margin: auto;
  background: rgb(186, 186, 190);
  height: 200px;
  width: 250px;
}
